<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>Fortune - Your daily fortune said by a cow, or Tux</title>
</head>
<body>
  <header>
    <h1>Fortune</h1>
    <p>Your daily fortune, said by a Cow or Tux.</p>
    <nav>
        <a href="cowsay.html">Cowsay</a>
        <a href="tuxsay.html">Tuxsay</a>
    </nav>
  </header>

  <main>
    <pre>
    {{ fortune }}
    </pre>
  </main>

  <footer>
    <p>Made by <a href="https://zedas.fr">Seb</a> - Using <a href="https://simplecss.org" target="_blank">SimpleCSS</a>, <a href="https://en.wikipedia.org/wiki/Cowsay">Cowsay</a> and <a href="https://en.wikipedia.org/wiki/Fortune_(Unix)" target="_blank">fortune</a></p>
  </footer>
</body>
</html>